   
<br/><br/>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <label class="labelstyle">Task:</label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
            <input [(ngModel)]="taskDetail.TaskName"   class="textboxwidth" type="text" />           
          </div>        
  </div>
  </div>
  <br/><br/>
  <div class="row">
      <div class="col-lg-12 col-md-12">
          <div class="col-lg-1 col-md-1 col-sm-1">
              <label class="labelstyle">Priority:</label>
              </div>               
              <div class="col-lg-5 col-md-5 col-sm-5">               
              <input [(ngModel)]="taskDetail.Priority" class="textboxwidth" type="range" name="points" min="0" max="30">                  
    </div>
  </div>
</div>

  <br/><br/>
  <div class="row">
      <div class="col-lg-12 col-md-12">
          <div class="col-lg-1 col-md-1 col-sm-1">
              <label class="labelstyle">Parent Task:</label>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5">
              <input [(ngModel)]="taskDetail.Parent_ID" class="textboxwidth" type="number"  />
            </div>        
    </div>
  </div>

  <br/><br/>
  <div class="row">
      <div class="col-lg-12 col-md-12">
          <div class="col-lg-1 col-md-1 col-sm-1">
              <label class="labelstyle">Start Date:</label>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5">   
              <input id="startdate"  [(ngModel)]="taskDetail.StartDate" value="taskDetail.StartDate" (ngModelChange)="taskDetail.StartDate = $event"  class="textboxwidth" type="date" />
            </div>        
    </div>
  </div>

  <br/><br/>
  <div class="row">
      <div class="col-lg-12 col-md-12">
          <div class="col-lg-1 col-md-1 col-sm-1">
              <label class="labelstyle">End Date:</label>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5"> 
              <input id="endtdate" [(ngModel)]="taskDetail.EndDate" value="taskDetail.EndDate" (ngModelChange)="taskDetail.EndDate = $event" class="textboxwidth" type="date" />
            </div>        
    </div>
  </div>

  <br/><br/>

  <div class="row">
      <div class="col-lg-12 col-md-12">
          <div class="col-lg-1 col-md-1 col-sm-1">
               
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5">
                  <button id="submitBtn" class="buttonwidth" (click)="onSubmit()">Add Task</button>&nbsp;
                  <button id="clearBtn" class="buttonwidth" (click)="onClear()">Reset</button>
            </div>        
    </div>
  </div>



