 
<br>
<br>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="col-lg-3 col-md-3 mainheading"><B>Task Manager</B></div>
        
  </div>
      
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-12 col-md-12">     
    <div class="col-lg-2 col-md-2 taskheading"><a id="updateAnchor" routerLink="/Addupdatetask"><B>Add Task</B></a></div>      
    <div class="col-lg-2 col-md-2 taskheading"><a id="viewAnchor" routerLink="/ViewTaskManager"><B>View Task</B></a></div>
  </div>
</div> 

<router-outlet></router-outlet>
