<br/><br/>
<div class="col-lg-12 col-md-12 col-sm-12 ">
<div class="row">     
        <div class="col-lg-1 col-md-1 col-sm-1">
      <label class="labelstyle">Task:</label>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
      <input #task class="textboxwidth" type="text" (blur)="search(task,parenttask,PriorityFrom,Priorityto,StartDate,EndDate)" />
        </div>
     
        <div class="col-lg-1 col-md-1 col-sm-1">
            <label class="labelstyle">Parent Task:</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
        <input #parenttask class="textboxwidth" (blur)="search(task,parenttask,PriorityFrom,Priorityto,StartDate,EndDate)" type="text" />
          </div>
   </div>
  
 
<br/> 
<div class="row">  
    <div class="col-lg-1 col-md-1 col-sm-1">
      <label class="labelstyle">Priority From:</label>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1">
      <input #PriorityFrom class="searchtextbox" (blur)="search(task,parenttask,PriorityFrom,Priorityto,StartDate,EndDate)"  type="number" />
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1">
          <label class="labelstyle">Priority To:</label>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
          <input #Priorityto  class="searchtextbox" (blur)="search(task,parenttask,PriorityFrom,Priorityto,StartDate,EndDate)" type="number" />
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
           
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1">
          <label class="labelstyle">Start Date:</label>
      </div>
        <div class="col-lg-1 col-md-1 col-sm-1"> 
          <input #StartDate  class="datetextbox" (change)="search(task,parenttask,PriorityFrom,Priorityto,StartDate,EndDate)" type="date" />
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1">
          <label class="labelstyle">End Date:</label>
         </div>
         <div class="col-lg-1 col-md-1 col-sm-1">
          <input #EndDate class="datetextbox" (change)="search(task,parenttask,PriorityFrom,Priorityto,StartDate,EndDate)" type="date" />
      </div>
</div>
<br/>
<hr style="border: 1px dotted gainsboro;" /> 
<div *ngFor="let task of filterAllTaskItems">
<div class="row">      
    <div class="col-lg-2 col-md-2 col-sm-2">
        <label class="gridheader">Task</label><br/>
        <label class="labeltextarea">{{task.TaskName}}</label>         
        
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <label class="gridheader">Parent Task</label><br/>         
            <label class="labeltextarea">{{task.Parent_ID}} </label> 
         </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
          <label class="gridheader">Priority</label><br/>
          <label class="textboxTablewidth">{{task.Priority}} </label> 
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">

          <label class="gridheader">Start</label><br/>
          <label class="textboxTablewidth">{{task.StartDate | date:'dd/MM/yyy'}} </label> 
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
          <label class="gridheader">End</label><br/>
          <label class="textboxTablewidth">{{task.EndDate | date:'dd/MM/yyy'}} </label> 
      </div>
      
      <div>
        <button class="buttonwidth" [disabled]="task.DisabledMode" [routerLink]="['/Addupdatetask',task.Task_ID]">Edit</button>&nbsp;
        <button class="buttonwidth" (click)="EndTask(task)">End Task</button>
      </div>
        
</div>

</div>

</div>

<br/>
